name: Plugin
on:
  - push
  - pull_request
jobs:
  test-wheel_resolver:
    name: Test wheel_resolver (${{ matrix.platform }}, Python ${{ matrix.python }})
    uses: ./.github/workflows/plugin_test.yaml
    with:
      id: wheel_resolver
      platform: ${{ matrix.platform }}
      python: ${{ matrix.python }}
      please_pex_from_repo: false
      test_targets: //tools/wheel_resolver/...
    strategy:
      fail-fast: false
      matrix:
        platform:
          - darwin_amd64
          - darwin_arm64
          - freebsd_amd64
          - linux_amd64
          - linux_arm64
        python:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
  test-please_pex:
    name: Test please_pex
    uses: ./.github/workflows/plugin_test.yaml
    with:
      platform: ${{ matrix.platform }}
      python: ${{ matrix.python }}
      please_pex_from_repo: true
    strategy:
      fail-fast: false
      matrix:
        platform:
          - darwin_amd64
          - darwin_arm64
          - freebsd_amd64
          - linux_amd64
          - linux_arm64
        python:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
  test:
    name: Test (${{ matrix.platform}}, Python ${{ matrix.python }}, stable please_pex release)
    uses: ./.github/workflows/plugin_test.yaml
    with:
      platform: ${{ matrix.platform }}
      python: ${{ matrix.python }}
      please_pex_from_repo: false
    strategy:
      fail-fast: false
      matrix:
        platform:
          - darwin_amd64
          - darwin_arm64
          - freebsd_amd64
          - linux_amd64
          - linux_arm64
        python:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
  build-please_pex-artifacts:
    name: Build please_pex release artifacts
    if: github.ref == 'refs/heads/master'
    needs:
      - test-please_pex
    uses: ./.github/workflows/please_pex_build.yaml
    with:
      platform: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - darwin_amd64
          - darwin_arm64
          - freebsd_amd64
          - linux_amd64
          - linux_arm64
  release-please_pex:
    name: Release please_pex
    if: github.ref == 'refs/heads/master'
    needs:
      - build-please_pex-artifacts
    runs-on: ubuntu-latest
    env:
      BIN_DIR: /tmp/please_pex_release
    steps:
      - name: Download please_pex binaries from artifact storage
        uses: actions/download-artifact@v6
        with:
          path: ${{ env.BIN_DIR }}
          pattern: please_pex_*
          merge-multiple: true
      - name: Check out code
        uses: actions/checkout@v6
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: thought-machine/release-action@master
        with:
          release-files: ${{ env.BIN_DIR }}
          version-file: tools/please_pex/VERSION
          change-log-file: tools/please_pex/ChangeLog
          release-prefix: please_pex
  release-wheel_resolver:
    name: Release wheel_resolver
    if: github.ref == 'refs/heads/master'
    needs:
      - test-wheel_resolver
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - name: Build release files
        run: ./pleasew build //package:wheel_resolver_release_files
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: thought-machine/release-action@master
        with:
          release-files: plz-out/package/wheel_resolver
          version-file: tools/wheel_resolver/VERSION
          change-log-file: tools/wheel_resolver/ChangeLog
          release-prefix: wheel_resolver
  release-plugin:
    name: Release plugin
    if: github.ref == 'refs/heads/master'
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - name: Release plugin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: thought-machine/release-action@master
