name: Python rules
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    matrix:
      include:
        - python-version: '3.7'
        - python-version: '3.8'
        - python-version: '3.9'
        - python-version: '3.10'
        - python-version: '3.11'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run tests
        run: ./pleasew test --log_file plz-out/log/test.log -e e2e
      - name: Run e2e test
        run: ./pleasew test --log_file plz-out/log/e2e.log -i e2e
      - name: Archive logs
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: logs
          path: |
            plz-out/log
  release:
    needs: [test]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build
        run: ./pleasew build //package:release_files
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: thought-machine/release-action@v0.3.0
      - name: Release tools
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: thought-machine/release-action@v0.3.0
        with:
          release-files: plz-out/package
          version-file: tools/VERSION
          change-log-file: tools/ChangeLog
          release-prefix: tools
